@{
    ViewData["Title"] = "Inicio Sesion";
}
@section logo{
    <a class=" img-container " asp-area="" asp-controller="Home" asp-action="Index"><img class="img-fluid" src="~/Images/mainIcon.png" /></a>
}

@section inicioLI{}

@section Main{
   
    <section class="darkMain">
      
        <div class="container text-white">
            <div class="row d-flex justify-content-between">
                <div class="col-lg-6 col-md-6 col-sm-12 p-4">
                    @if (!string.IsNullOrEmpty(ViewBag.Message))
                    {
                        <div class="alert alert-info" role="alert">
                            @ViewBag.Message
                        </div>
                    }
                    <h2 class="priColor h1">Iniciar Sesión</h2>
                    <p>¿Aun no estás registrado?  <a class="text-decoration-none priColor fw-bold" asp-controller="Home" asp-action="SignUp">Registrate aquí.</a></p>
                    <form asp-controller="Home" asp-action="LogInAction" method="post">
                        <div class="form-group">
                            <label for="email" class="control-label">EMAIL</label>
                            <input type="email" id="email" name="email" class="form-control" />
                        </div>
                        <div class="form-group">
                            <label for="password" class="control-label">CONTRASEÑA</label>
                            <input type="password" id="password" name="password" class="form-control" />
                        </div>
                        <a class="text-decoration-none priColor d-block  fw-bold" asp-controller="Home" asp-action="RecoverSendCode">Olvide mi contraseña</a>
                        <button type="submit" class="btn btn-primary fs-5">CONTINUAR</button>
                    </form>
                </div>
                <div class="col-lg-6 col-md-6 col-sm-12 p-4  text-center">
                    <img class="img-fluid" src="~/Images/logoLogIn.png" />
                    <h1 class="font-title title-page "><span class="h">H</span>ome<span class="h">H</span>ero</h1>
                </div>
            </div>

        </div>
    </section>
}
@section scripts {
    <script src="https://cdnjs.cloudflare.com/ajax/libs/jquery/3.6.0/jquery.min.js"></script>
    <script src="https://cdnjs.cloudflare.com/ajax/libs/jquery-validate/1.19.3/jquery.validate.min.js"></script>
    <script>
        $(document).ready(function () {
            $("form").validate({
                rules: {
                    email: {
                        required: true,
                        email: true
                    },
                    password: {
                        required: true,
                        minlength: 8
                    }
                },
                messages: {
                    email: {
                        required: "Por favor, introduce tu correo electrónico.",
                        email: "Por favor, introduce un correo electrónico válido."
                    },
                    password: {
                        required: "Por favor, introduce tu contraseña.",
                        minlength: "La contraseña debe tener al menos 8 caracteres."
                    }
                },
                submitHandler: function (form) {
                    $.ajax({
                        type: 'POST',
                        url: '/Home/LogInAction',
                        data: $(form).serialize(),
                        success: function (response) {
                            
                        },
                        error: function (xhr, status, error) {
                          
                        }
                    });
                    return false; 
                }
            });
        });
    </script>
}
