
@{
    ViewData["Title"] = "Ofrecer mi ayuda";
}
@section scripts{}
@section logo{
    <a class=" img-container2" asp-area="" asp-controller="Home" asp-action="Index"><img class="img-fluid" src="~/Images/iconSol.png" /></a>
}
@section inicioLI{
    <li class="nav-item menuColor">
        <a class="nav-link " asp-area="" asp-controller="Home" asp-action="principalMb">Menu</a>
    </li>
    <li class="nav-item logIn ">
        <a class="nav-link " asp-area="" asp-controller="Home" asp-action="ProfileMb">Mi perfil</a>
    </li>
    <li class="nav-item signUp">
        <a class="nav-link " asp-area="" asp-controller="Home" asp-action="LogOut">Cerrar Sesion</a>
    </li>
}
@section main{
    <section>
        <div class="container text-white">
            <div class="row d-flex justify-content-evenly align-items-start p-4 mt-3 thirdBg" style="height:2000px;">
                <h1 class="font-title col-12 pb-2 text-center" style="font-size: 2em;">Gestionar Solicitudes</h1>
               
            </div>
        </div>
    </section>
}