@{
    ViewData["Title"] = "Registarse";
}
@section logo{
    <a class=" img-container " asp-area="" asp-controller="Home" asp-action="Index"><img class="img-fluid" src="~/Images/mainIcon.png" /></a>
}
@section inicioLI{
}
@section scripts{
}
@section Main{
    <section class="darkMain">
        <div class="container text-white">
            <div class="row d-flex justify-content-between">
                <div class="col-6">
                    <img class="img-fluid" src="~/Images/SignUp.png" />
                    <h1 class="font-title title-page "><span class="h">H</span>ome<span class="h">H</span>ero</h1>
                </div>
                <div class="col-6">
                  
                        <h2 class="priColor h1">Crear Cuenta</h2>
                        <p>¿Ya estás registrado?  <a class="text-decoration-none priColor fw-bold" asp-controller="Home" asp-action="LogIn">Inicia sesión aquí.</a></p>
                        <form asp-controller="Home" asp-action="SignUpAction" method="post">
                            <div class="form-group">
                                <label for="name" class="control-label">NOMBRE(S)</label>
                                <input required type="text" id="name" name="name" class="form-control" />
                            </div>
                            <div class="form-group">
                                <label for="surnames" class="control-label">APELLIDO(S)</label>
                                <input required type="text" id="surnames" name="surnames" class="form-control" />
                            </div>
                            <div class="form-group">
                                <label for="email" class="control-label">CORREO</label>
                                <input required type="email" id="email" name="email" class="form-control" />
                                <span for="email" class="text-danger"></span>
                            </div>
                            <div class="form-group">
                                <label for="password" class="control-label">CONTRASEÑA</label>
                                <input required type="password" id="password" name="password" pattern="^(?=.*[A-Za-z])(?=.*\d)[A-Za-z\d]{8,}$" title="Debe contener al menos 8 caracteres, incluyendo al menos 1 letra y 1 número." class="form-control" />

                            </div>
                            <div class="form-group">
                                <label for="location">CIUDAD:</label>
                                <select required name="location" id="location" class="form-control">
                                    @foreach (var location in @ViewBag.LocationData)
                                    {
                                        <option value="@location.Value">@location.Text</option>
                                    }
                                </select>
                            </div>
                            <button type="submit" class="btn btn-primary mt-2 fs-5">REGISTRARSE</button>
                        </form>
                 
                </div>
            </div>
        </div>
    </section>
}
