@model HomeHero.Models.User

@{
    ViewData["Title"] = "Edit";
}
@section logo{
    <a class=" img-container " asp-area="" asp-controller="Home" asp-action="Index"><img class="img-fluid" src="~/Images/mainIcon.png" /></a>
}

@section inicioLI{
    @if (User.IsInRole("Admon"))
    {
        <li class="nav-item admin">
            <a class="nav-link " asp-area="" asp-controller="Users" asp-action="">AdminSecret</a>
        </li>
        <li class="nav-item logIn ">
            <a class="nav-link " asp-area="" asp-controller="Home" asp-action="ProfileMb">Mi perfil</a>
        </li>
        <li class="nav-item signUp">
            <a class="nav-link " asp-area="" asp-controller="Home" asp-action="LogOut">Cerrar Sesion</a>
        </li>
    }
    @if (User.IsInRole("User"))
    {
        <li class="nav-item logIn ">
            <a class="nav-link " asp-area="" asp-controller="Home" asp-action="ProfileMb">Mi perfil</a>
        </li>
        <li class="nav-item signUp">
            <a class="nav-link " asp-area="" asp-controller="Home" asp-action="LogOut">Cerrar Sesion</a>
        </li>
    }
}

@section Main{
    <section class="p-4">
        <div class="container bg-dark text-white rounded py-3" style="max-width: 50%;">
            <h1 class="text-center mb-4">Edit User</h1>
            <hr class="border-light" />
            <div class="row justify-content-center">
                <div class="col-md-6">
                    <form asp-controller="Users" asp-action="Edit" method="post">
                        <div class="form-group">
                            <label asp-for="RoleID_User" class="control-label"></label>
                            <select asp-for="RoleID_User" class="form-control" asp-items="@ViewBag.RolesData"></select>
                        </div>

                        <div class="form-group">
                            <label asp-for="RealUserID" class="control-label"></label>
                            <input asp-for="RealUserID" class="form-control" />
                        </div>

                        <div class="form-group">
                            <label asp-for="NamesUser" class="control-label"></label>
                            <input asp-for="NamesUser" class="form-control" />
                        </div>

                        <div class="form-group">
                            <label asp-for="SurnamesUser" class="control-label"></label>
                            <input asp-for="SurnamesUser" class="form-control" />
                        </div>

                        <div class="form-group">
                            <label asp-for="Email" class="control-label"></label>
                            <input asp-for="Email" class="form-control" />
                            <span asp-validation-for="Email" class="text-danger"></span>
                        </div>

                        <div class="form-group">
                            <label asp-for="LocationResidenceID" class="control-label"></label>
                            <select asp-for="LocationResidenceID" class="form-control" asp-items="@ViewBag.LocationData"></select>
                        </div>

                        <div class="form-group">
                            <label asp-for="VolunteerPermises" class="control-label"></label>
                            <input asp-for="VolunteerPermises" type="text" class="form-control" />
                        </div>

                        <button type="submit" class="btn btn-primary mt-2 fs-5">Edit</button>
                    </form>
                    <div class="text-center mt-3">
                        <a asp-action="Index" class="btn btn-light btn-block">Back to List</a>
                    </div>
                </div>
            </div>
        </div>
    </section>
}
@section scripts {
    @{
        await Html.RenderPartialAsync("_ValidationScriptsPartial");
    }
}
