<!DOCTYPE html>
<html lang="en">
<head>
    <meta charset="utf-8" />
    <meta name="viewport" content="width=device-width, initial-scale=1.0" />
    <title>@ViewData["Title"]</title>
    <link rel="stylesheet" href="~/lib/bootstrap/dist/css/bootstrap.min.css" />
    <link rel="stylesheet" href="~/css/site.css" asp-append-version="true" />
    <link rel="stylesheet" href="~/css/General.css" />
    <link rel="stylesheet" href="~/css/normalize.css" />
    <link rel="stylesheet" href="~/HomeHero.styles.css" asp-append-version="true" />
    <link rel="preconnect" href="https://fonts.googleapis.com">
    <link rel="preconnect" href="https://fonts.gstatic.com" crossorigin>
    <link href="https://fonts.googleapis.com/css2?family=Bruno+Ace+SC&family=Dosis:wght@400;500&family=Pacifico&display=swap" rel="stylesheet">
    <script src="https://kit.fontawesome.com/9ce1ab805c.js" crossorigin="anonymous"></script>
</head>

<body>
    <header>
        <nav class="navbar navbar-expand-sm navbar-toggleable-sm nav-custom box-shadow header">
            <div class="container-fluid">
                @RenderSection("logo");
                <a class="navbar-brand font-title" asp-area="" asp-controller="Home" asp-action="Index"><span class="h">H</span>ome<span class="h">H</span>ero</a>
                <div class="navbar-collapse collapse d-sm-inline-flex justify-content-end">
                    <ul class="navbar-nav d-flex ">
                            @RenderSection("inicioLI")
                    </ul>
                </div>
            </div>
        </nav>
    </header>
    @RenderSection("Main")
</body>
</html>
