body {
    background-image: url(../Images/patronBackground.jpg);
    background-repeat: repeat;
    margin: 0%;
}

.font-title {
    font-family: 'Bruno Ace SC', cursive;
    font-size: 1.6em;
}

.img-container{
    width: 80px;
}

.img-container2 {
    width: 48px;
}

.h {
    font-family: 'Pacifico', cursive;
    letter-spacing: .15em;
    color: #387ccf;
}
.priColor {
    color: #387ccf;
}
.secColor {
    color: #FF9003;
}
.nav-custom {
    background-color: rgb(34, 31, 31, 0.85);
}

.nav-custom a {
    color:#e5eaea;
}

.logIn {
    background: #de3124;
    margin-right: 2em;
    height: 100%;
}

.signUp {
    background: #387ccf;
    margin-right: 1em;
}


.nav-custom li {
    font-family: 'Dosis', sans-serif;
    font-weight:500;
    padding: 0.1em 1.4em;
    height: 100%;
    border-radius: 20px;
    border-bottom: none;
    border-top: none;
}
.header{
    height:12vh;
}
.darkMain {
    margin: 0;
    padding: 5%;
    background-color: rgb(34, 31, 31, 0.85);
    height: 88vh;
}



.title-page{
   font-size:3em;
}

.formField{
    padding-bottom: 3%;
}

.formField input{
    padding: 2%;
    margin-top:1%;
    width:85%;
    border:none;
    border-radius:0px;
    background:#e3d9d9;
}
    .formField input:focus {
        background: #e3d9d9;
    }

.btn-form{
    border-radius:2px;
    text-align:center;
}

.flex-column {
    height:max-content;
    border-radius: 4px;
    background: rgb(69, 61, 61, 0.80);
}

.flex-column:hover {
        background: rgb(48, 44, 44, 0.80);
        color: #FF9003;
        transform: scale(1.01);
        transition: transform 0.25s;
}

.thirdBg {
    background: rgb(69, 61, 61, 0.80);
}

.fourthBg {
    background: #0e3462d9;
}

.reqProfile{
    height: 100vh;
}

.medCol {
    width: 45%;
}
.thirdBg form textarea {
    height: 150px; 
    resize: none;
    overflow-y: auto;
    max-width: 100%;
    box-sizing: border-box; 
}

user-img:hover {
    cursor: pointer;
}
.filter-form {
    display: flex;
    justify-content: center;
    align-items: center;
    margin-bottom: 20px;
}

.filter-input {
    padding: 10px;
    border: 1px solid #ccc;
    border-radius: 5px;
    margin-right: 10px;
    font-size: 16px;
}

.filter-button {
    padding: 10px;
    border: none;
    border-radius: 5px;
    background-color: #4CAF50;
    color: white;
    font-size: 16px;
    cursor: pointer;
}

    .filter-button:hover {
        background-color: #3e8e41;
    }

    .filter-button:active {
        background-color: #3e8e41;
        box-shadow: 0 5px #666;
        transform: translateY(4px);
    }
@media screen and (min-width: 1750px) {

    .flex-column {
        height: max-content;
    }
}